.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 20px;
    height: 600px;
    
}
.top-nav {
    height: 150px;
    background-color: green;
}
.side-nav {
    height: 300px;
    width: 200px;
    margin:20px 5px 5px 5px;
    
    background-color: blue;
    float: left;
    
}
.main {
    height: 400px;
    width: 700px;
    padding: 10px;
    background-color: red;
    float: right;
    margin:20px 5px 5px 5px;
    
}
.sub-content {
    height: 200px;
    width: 210px;
    margin: 10px;
    background-color: yellow;
    display: inline-block;
    
}
#advertisement {
    height: 120px;
    width: 660px;
    margin: 10px;
    background-color: purple;
    
}

